*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}


.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 35px;
    font-weight: 800;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F6F6F6;
}

.menu {
    float: center;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    margin: auto;
    display: flex;
    line-height: 40px; /*agar posisi dari bagian atas dan bagian bawah bisa rata dari gifnya */
    position: sticky;
    position: -webkit-sticky; /* untuk safari */
    top: 0;
    background-color: #2C272E;
    z-index: 1;
    border-bottom: 1px solid #F6F6F6;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 90px;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #F6F6F6;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
}

nav ul li a.signup {
    padding: 0px 0px 0px 315px;
}

nav ul li a:hover {
    color: #FF9F45;
}



section {
    margin: auto;
    display: flex;
    margin-bottom: 0px;
    float: center;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom.deskripsi {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F6F6F6;
    width: 100%;
    line-height: 50px;
}


h1 {
    font-size: 65px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F6F6F6;
    width: 100%;
    line-height: 0px;
    padding: 120px 0px 0px 140px;
}
h2 {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F6F6F6;
    width: 100%;
    line-height: 50px;
    padding: 120px 16px 0px 350px;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F6F6F6;
    width: 100%;
    line-height: 50px;
    padding: 80px 0px 0px 490px;
}

h4 {
    font-size: 15px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F6F6F6;
    width: 100%;
    line-height: 50px;
    padding: 80px 0px 0px 535px;
}

a.playnow {
    background: #FF9F45;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    color:black;
    font-weight: bold;
}


a.playnow:hover {
    background: #F7ECDE;
}